<article
  id="contact"
  class="min-h-screen flex flex-col justify-center items-center px-8 md:px-10 py-16 bg-background dark:bg-background-dark transition-colors duration-300"
>
  <section
    class="w-full max-w-[500px] text-center text-text dark:text-text-dark"
  >
    <h2
      class="text-4xl md:text-5xl font-bold text-primary dark:text-primary font-primary"
    >
      Contacto
    </h2>
    <h3 class="text-xl md:text-2xl mt-4 font-secondary">
      Recibí ofertas y novedades frescas como un mango recién cosechado
    </h3>
    <p class="mt-4 text-muted dark:text-muted-dark font-secondary">
      Dejanos tu mail y sé el primero en enterarte de nuestras promociones y
      noticias tropicales.
    </p>

    <!-- Form Section -->
    <div class="mt-8">
      <form class="flex flex-col gap-6">
        <div class="flex flex-col text-left">
          <label
            for="name"
            class="text-text dark:text-text-dark font-semibold font-secondary"
          >
            Nombre
          </label>
          <input
            class="border border-primary rounded-lg p-3 bg-surface dark:bg-surface-dark text-text dark:text-text-dark focus:outline-none focus:ring-2 focus:ring-primary transition-colors duration-300"
            type="text"
            id="name"
            name="name"
            placeholder="Tu nombre"
            required
          />
        </div>

        <div class="flex flex-col text-left">
          <label
            for="email"
            class="text-text dark:text-text-dark font-semibold font-secondary"
          >
            Correo Electrónico
          </label>
          <input
            class="border border-primary rounded-lg p-3 bg-surface dark:bg-surface-dark text-text dark:text-text-dark focus:outline-none focus:ring-2 focus:ring-primary transition-colors duration-300"
            type="email"
            id="email"
            name="email"
            placeholder="tuemail@example.com"
            required
          />
        </div>

        <button
          class="px-6 py-3 bg-primary text-text dark:text-text-dark rounded-lg font-semibold hover:bg-secondary transition font-secondary"
          type="submit"
        >
          Enviar
        </button>
      </form>
    </div>
  </section>
</article>
