---

---

<article
  id="contact"
  class="min-h-screen flex flex-col justify-center items-center px-10 py-16"
>
  <section class="max-w-lg w-full text-center">
    <h2 class="text-5xl font-bold text-emerald-600">Contacto</h2>
    <h3 class="text-2xl text-gray-800 mt-4">
      Recibí ofertas y novedades frescas como un mango recién cosechado
    </h3>
    <p class="text-gray-600 mt-4">
      Dejanos tu mail y sé el primero en enterarte de nuestras promociones y
      noticias tropicales.
    </p>

    <!-- Form Section -->
    <div class="mt-8">
      <form class="flex flex-col gap-6">
        <div class="flex flex-col text-left">
          <label for="name" class="text-gray-700 font-semibold">Nombre</label>
          <input
            class="border border-gray-300 rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-emerald-600"
            type="text"
            id="name"
            name="name"
            placeholder="Tu nombre"
            required
          />
        </div>

        <div class="flex flex-col text-left">
          <label for="email" class="text-gray-700 font-semibold"
            >Correo Electrónico</label
          >
          <input
            class="border border-gray-300 rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-emerald-600"
            type="email"
            id="email"
            name="email"
            placeholder="tuemail@example.com"
            required
          />
        </div>

        <button
          class="px-6 py-3 bg-emerald-600 text-white rounded-xl font-semibold hover:bg-emerald-700 transition"
          type="submit">Enviar</button
        >
      </form>
    </div>
  </section>
</article>
