---
import { Image } from "astro:assets";
import MangoImage  from "../assets/background.webp";
---

<article
  id="hero"
  class="min-h-screen w-full bg-background dark:bg-background-dark grid grid-cols-1 md:grid-cols-2 items-center justify-center gap-10 px-8 md:px-10 md:py-16 py-32 transition-colors duration-300"
>
  <!-- Text Content -->
  <section class="text-text dark:text-text-dark">
    <h1
      class="text-4xl md:text-5xl font-bold leading-tight mb-6 font-primary text-primary dark:text-primary"
    >
      Del árbol a tu mesa, mangos como nunca antes
    </h1>
    <p
      class="mb-8 text-lg font-secondary text-[var(--color-muted)] dark:text-[var(--color-muted-dark)]"
    >
      En Mangoland, llevamos la frescura tropical directamente a tu puerta.
      Sabor premium, calidad garantizada.
    </p>

    <div class="flex flex-col md:flex-row gap-4">
      <button
        class="bg-primary text-text dark:text-text-dark px-6 py-3 rounded-lg font-semibold hover:bg-secondary transition font-secondary"
      >
        ¡Probalos ahora!
      </button>
      <button
        class="bg-surface dark:bg-surface-dark text-primary px-6 py-3 rounded-lg font-semibold border border-primary dark:border-primary hover:bg-secondary hover:text-text dark:hover:text-text-dark transition font-secondary"
      >
        Descubrí nuestros mangos
      </button>
    </div>
  </section>

  <!-- Image Section -->
  <section class="flex justify-center md:justify-end">
    <Image
      src={MangoImage}
      alt="Mangos frescos"
      width={500}
      height={500}
      class="fade-bottom"
      priority
      loading="eager"
    />
  </section>
</article>
