---
import { Image } from "astro:assets";
---

<section
  id="why-choose-us"
  class="min-h-screen grid grid-cols-1 md:grid-cols-2 px-8 md:px-10 py-16 gap-10 items-center bg-background dark:bg-background-dark transition-colors duration-300"
>
  <!-- Text Section -->
  <article class="flex flex-col gap-6 text-text dark:text-text-dark">
    <h2
      class="text-4xl md:text-5xl font-bold text-primary dark:text-primary font-primary leading-tight"
    >
      Por Qué Elegirnos
    </h2>
    <h3
      class="text-2xl md:text-3xl font-semibold text-text dark:text-text-dark font-secondary"
    >
      Más que mangos, una experiencia
    </h3>
    <ul
      class="list-none space-y-6 font-secondary text-lg text-muted dark:text-color-muted-dark"
    >
      <li class="flex items-start gap-4">
        <span class="text-2xl">🌿</span>
        <p>
          <strong>Sostenibilidad:</strong> Trabajamos con prácticas agrícolas responsables.
        </p>
      </li>
      <li class="flex items-start gap-4">
        <span class="text-2xl">🚛</span>
        <p>
          <strong>Envío Exprés:</strong> De la finca a tu casa en tiempo récord.
        </p>
      </li>
      <li class="flex items-start gap-4">
        <span class="text-2xl">🥭</span>
        <p>
          <strong>Calidad Premium:</strong> Solo seleccionamos los mejores mangos.
        </p>
      </li>
      <li class="flex items-start gap-4">
        <span class="text-2xl">❤️</span>
        <p>
          <strong>Compromiso Local:</strong> Apoyamos a productores nacionales.
        </p>
      </li>
    </ul>
  </article>

  <!-- Image Section -->
  <article class="flex justify-center md:justify-end animate-element">
    <Image
      src="/assets/choose.jpg"
      class="w-full md:max-w-[80%] object-cover rounded-3xl shadow-lg"
      alt="Por Qué Elegirnos"
      width={4032}
      height={2688}
    />
  </article>
</section>
